<h1>About</h1>
<div style="max-width:800px">
	<img src="images/postcard.jpg" style="max-width:480px" class="pull-right">
	<p><a href="http://www.conneautlakepark.com/">Conneaut Lake Park</a> has been with us for over 120 years.  While the park may have seen
		better days, its fans have captured what has made the park great during that time.  This
		gallery attempts to consolidate many of photographs that can be found across the web in
		discussion forums, fan sites, photo sharing sites, and even offline archives.  It is
		curated by <a href="http://www.petershafer.com" target="_blank">Peter Shafer</a>, a
		software engineer who grew up in northwest Pennsylvania.</p>
	<p>All photographs are presented with source information embedded with every image.  If your
		photos are included here and you would like to have them removed, please contact Peter
		directly.  If you are interested in sharing your own photos on this site, feel free
		to contact Peter regarding that as well.</p>
	<p>Enjoy the site!</p>
</div>