<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><span class="btn-full">BETA: Conneaut Lake Park Photo Gallery</span><span class="btn-mobile">BETA: CLP Photos</span></a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rides <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Devil's Den/">Devil's Den</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Blue Streak/">Blue Streak</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Carousel/">Carousel</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Dodgem/">Dodgem</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Flying Scooters/">Flying Scooters</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Kiddie Land/">Kiddie Land</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Paratrooper/">Paratrooper</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Rollo Plane/">Rollo Plane</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Sky Thriller/">Sky Thriller</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Super Round Up/">Super Round Up</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Tilt-a-Whirl/">Tilt-a-Whirl</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Toboggan/">Toboggan</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Tumble Bug/">Tumble Bug</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Sky Thriller/">Ultimate Trip</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Witch's Stew/">Witch's Stew</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Attractions <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Beach/">Beach</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Beach Club/">Beach Club</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Boardwalk/">Boardwalk</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Ballroom/">Dreamland Ballroom</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Entrance/">Entrance</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Halloween/">Halloween</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Hotel/">Hotel</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Kaylee Belle/">Kaylee Belle</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Lake/">Lake</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Lights of Christmas/">Lights of Christmas</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Midway/">Midway</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Observation Dock/">Observation Dock</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Pumpkin Fest/">Pumpkin Fest</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Water Park/">Water Park</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Historical <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Exposition Park/">Exposition Park</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Hell Hole/">Hell Hole</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Postcard/">Postcards</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Scenic Railway/">Scenic Railway</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-responsive-collapse" href="#/tag/Temple of Music/">Temple of Music</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#/about/">About</a>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>